body {
	margin-left: 10px;
}

.pagination>li>a, .pagination>li>span { 
	border-radius: 50% !important;
	margin: 0 5px;
}

.container-fluid {
    background-color: #fff !important;
}

/* Academico */
.card-link {
	font-size: 12px; 
	color: #000;
}

.cartas_filtrado {
	margin-top: 10px; 
	width: 14rem;
}

.tipo_categoria {
	font-weight: bold;
}

#filtrado {
	font-weight: bold; 
	border-left: 6px solid black;
}

.img_academico {
	width: 100%;
	height: auto;
	padding: 40px 40px 40px 80px;
	background-image: url('./img/academicos.jpeg');
}

.img_fondo_index {
	width: 100%;
	height: auto;
	background-image: url('./img/mujer.jpg');
	background-repeat: no-repeat;
}

/* Detalle Academico */
.img_academico_detalle {
	width: 100%;
	height: auto;
	padding: 40px 40px 40px 80px;
	background-image: url('./img/admin_empresa.jpg');
}

.img_contacto {
	width: 100%;
	height: auto;
	padding: 40px 40px 40px 80px;
	background-image: url('./img/quienes.png');
}

.separacion_border {
	width: 90%;
	border-bottom: 6px solid green;
}

#text-objetivo {
	margin-right: 20px !important;
}

#detalles_informacion {
	margin-left: 30px;
}

.fa-circle {
	color: #5caceb;
}

.card_detalles, .card_detalles .card-body {
	width: 100%;
}

.card_detalles .rounded-circle, .card_detalles_beneficios .rounded-circle  {
	width: 50%;
}

.title_detalle {
	margin-right: 20px; 
}

/* Blog */
.cartas_blog {
	margin-top: 20px; 
	width: 16rem;
}

.text-blog {
	font-size: 12px;
}

.publicidad {
	margin-top: 20px; 
	width: 14rem; 
	height: 16rem;
}

.blog-img1 {
	width: 100%; 
	height: 22rem;
	margin-bottom: 20px;
}

.blog-img2{
	width: 100%; 
	height: 10.2rem;
}

/* footer */
.redes_sociales {
	font-size: 30px !important; 
	color: #000 !important;
}

#text-copyright {
	font-weight: bold !important;
}

/* Heades */
.navbar-light .navbar-nav .nav-link {
	font-size: 15px;
	margin-right: 10px;
	font-weight: bold !important;
	color: #000 !important;
}

/* Home */
.opinion_estudiantes {
	background-color: green;
}

.div_index_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.div_text_index {
	color: #fff;
	text-align: center;
	letter-spacing: 3px;
}

.form_index {
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
}

/* Full-width input fields */
.form_index input[type=text], .form_index input[type=password], .form_index input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form_index input[type=text]:focus, .form_index input[type=password]:focus, .form_index input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

.contenedor {
	background-image: url('./img/fondo.jpg');
	min-height: 550px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.cartas_index{
	margin-top: 20px; 
}

.card_index {
	width: 60% !important; 
	font-size: 12px !important;
}

/* Accesos */
#acceso {
	margin-left: 60px;
}

.acceso_body {
	background-image: url('./img/fondo.jpg');
}

.titulo_acceso {
	font-weight: bold; 
	color:#FFFFFF;
}

.link-decoration {
	font-weight: bold; 
	text-decoration-color: orange; 
	text-decoration-line: underline;
}

.form_acceso {
	height: 500px;
}

.form_acceso button, .form_detalles button, .form_index button {
	height: 60px; 
	width: 100%;
}

.

.form_acceso .form-group button span {
	color: #FFFFFF;
}

.form_acceso .custom-checkbox label {
	font-size: 10px;
}